/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-birds {
  background-image: url(sprite.png);
  background-position: -99px -97px;
  width: 73px;
  height: 32px;
}
.icon-calculator {
  background-image: url(sprite.png);
  background-position: -197px -44px;
  width: 24px;
  height: 50px;
}
.icon-leaf {
  background-image: url(sprite.png);
  background-position: -99px 0px;
  width: 98px;
  height: 97px;
}
.icon-leaf2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 99px;
  height: 133px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: 0px -133px;
  width: 195px;
  height: 36px;
}
.icon-man {
  background-image: url(sprite.png);
  background-position: -202px -110px;
  width: 9px;
  height: 11px;
}
.icon-present {
  background-image: url(sprite.png);
  background-position: -197px 0px;
  width: 39px;
  height: 44px;
}
.icon-star {
  background-image: url(sprite.png);
  background-position: -213px -94px;
  width: 10px;
  height: 10px;
}
.icon-telegram {
  background-image: url(sprite.png);
  background-position: -221px -76px;
  width: 12px;
  height: 10px;
}
.icon-telephone {
  background-image: url(sprite.png);
  background-position: -223px -94px;
  width: 10px;
  height: 10px;
}
.icon-vertical {
  background-image: url(sprite.png);
  background-position: -197px -110px;
  width: 5px;
  height: 28px;
}
.icon-viber {
  background-image: url(sprite.png);
  background-position: -197px -94px;
  width: 16px;
  height: 16px;
}
.icon-whatsapp {
  background-image: url(sprite.png);
  background-position: -221px -44px;
  width: 14px;
  height: 14px;
}
.icon-yandex {
  background-image: url(sprite.png);
  background-position: -221px -58px;
  width: 9px;
  height: 18px;
}
