body {
    margin: 0 auto;
    min-width: 1440px;
    max-width: 2200px;
    background-color: #fff;
    color: black;
    font-family: 'Geometria', sans-serif;
    font-weight: normal;
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }

img {
    max-width: 100%;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}